{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <title>Select Faculty</title>
    <link rel="stylesheet" href="{% static 'css/overall_faculty.css' %}">
     </head>
  <body><br><br>
    <center> 
        <div  class="Panel_Heading" >
          ADMIN PANEL
        </div>
        </center>                  

        
        <div class="container-login100-form-btn">
        <form action="back/">
            <button class="login100-form-btn" style="position: absolute; top: 170px; left: 420px">
            back
          </button>
        </form>
  
        <form action="faculty_performance/" method="POST">
          <button class="login100-form-btn" style="position: absolute;  top: 170px; left: 570px">
            View
          </button>

          <div style="text-align: center">
          <select name="faculty_name" id="type" class="faculty_name_label" required style="text-align: center;" >
              <center><option value="" style="text-align: center;"><center>Select Faculty</center> </option>
              {% for f in faculty %}
                <option value= "{{ f }}">{{ f }}</option>
              {% endfor %}
            </center>
          </select>
        </div>
    
  
        </div>
      </div>
  </form>
  </body>
</html>